*{
    margin: 0;
    padding: 0;
}

.d-flex{
    display: flex;
}

.a-center{
    align-items: center;
}

.j-center{
    justify-content: center;
}

.App{
    flex-direction: column;
    textarea{
        width: 600px;
        height: 200px;
        font-size: 20px;
        margin: 30px 0;
    }
    .btns{
        margin-top: 30px;
        gap: 20px;
        button{
            width: 200px;
            font-size: 20px;
            padding: 10px 0;
        }
    }
    
}
@import url("./_partition/keyboard.scss");
@import url("./_partition/key.scss");

